<h1>Alunos</h1>
  {{#if emptyAlunos}}
    <p>Sem alunos cadastrados</p>
    
  {{/if}}
  
  {{#each alunos}}
      <b>{{this.nome}}</b> - 
        <form action="/alunos/updatestatus" method="POST" style="display: inline;">
          <input type="hidden" name="id" value={{this.id}}>
          <input type="hidden" name="status" value={{this.status}}>
          <button type="submit">
            {{#if this.status}}
              desabilitar
            {{else}}
              habilitar
            {{/if}}
          </button>
        </form>
        
        {{!-- <form action="/alunos/edit/{{this.id}}" style="display: inline;">
            <input type="submit" value="editar" />
        </form> --}}

        <a href="/alunos/edit/{{this.id}}">editar</a>

        <form action="/alunos/remove" method="POST" style="display: inline;">
          <input type="hidden" name="id" value={{this.id}}>
          <button type="submit">
            excluir
          </button>
        </form>
    <hr>
  {{/each}}
  <a href="/alunos/add">Add</a>